* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  // 避免移动端点击时出现蓝色背景
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  // 避免选中文字时出现蓝色背景
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
